.thing {
    
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%, -50%);  /*center the element*/
}

.obstacle {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transform: translate(-50%, 0%);  /*center the element*/
}


/* Prevent padding and border from affecting element width. */
*,
::before,
::after {
    box-sizing: border-box;
}

/* Remove the margin in all browsers */
body {
    margin: 0;
    padding: 0;
    line-height: inherit;
    background-color: hsl(180, 100%, 50%);
}

/*
#sample-output {
    position: fixed;
    border-radius: 100%;
    background-color: orange;
}
*/